/**
 * Typography via Medium
 */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga' on;
  -moz-font-feature-settings: 'liga' on;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #151c31;
  color: #fff;
  padding-bottom: 40px;

  &::after {
    content: '';
    background: url(https://i.imgur.com/exPj1l7.jpg) no-repeat center center
      fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    opacity: 0.4;
  }
}

canvas {
  display: block;
}

$canvas-width: 900px;
$canvas-height: 720px;
$left-width: 60px;
$right-width: 270px;
$total-width: $canvas-width + $left-width + $right-width;

#container {
  position: relative;
  margin: auto;
  width: $total-width;
  height: $canvas-height;

  & > * {
    float: left;
  }
}

dl,
dd,
dt {
  margin: 0;
  padding: 0;
}

dl {
  &.left {
    width: $left-width;
    text-align: right;

    // hacks
    position: relative;
    right: -20px;

    dd {
      margin-right: 3px;
    }
  }

  &.right {
    width: $right-width;
  }

  dt {
    font-family: Times, serif;
    font-size: 28px;
    font-style: italic;
    font-weight: bold;
    margin-top: 85px;
  }

  dd {
    font-family: Helvetica, sans-serif;
    font-size: 12px;
  }
}
